main {
    height: 700px;
    width: 50%;
    background-color: rgb(51,51,51);
    border-radius: 20px;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 50px;
}

h1{
    color: white;
    text-align:center;
    padding: 20px;
}

#gameOver {
    display: none;
    text-align: center;
}

#gameOver h2 {
    font-size: 2.5em;
}

#gameOver button {
    color: black;
    background-color: rgb(89,89,89);
    color: white;
    border-radius: 20px;
    border: solid white;
    font-size: 1.5em;
    cursor: pointer;
    transition: 200ms;
    margin: 10px;
    padding: 10px;
}

#gameOver button:hover {
    background-color: #edc22e;
    color: black;

}


#gameBoard {
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
    width: 450px;
    height: 450px;
    background-color: #bbada0;
    border-radius: 10px;
    padding: 10px;
}

.score {
    
    font-size: 2em;
    text-align: center;
}
.tile {
    width: 100px;
    height: 100px;
    background-color: #cdc1b4;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    color: #776e65;
}
.tile[data-value="2"] { background-color: #eee4da; }
.tile[data-value="4"] { background-color: #ede0c8; }
.tile[data-value="8"] { background-color: #f2b179; color: #f9f6f2; }
.tile[data-value="16"] { background-color: #f59563; color: #f9f6f2; }
.tile[data-value="32"] { background-color: #f67c5f; color: #f9f6f2; }
.tile[data-value="64"] { background-color: #f65e3b; color: #f9f6f2; }
.tile[data-value="128"] { background-color: #edcf72; color: #f9f6f2; }
.tile[data-value="256"] { background-color: #edcc61; color: #f9f6f2; }
.tile[data-value="512"] { background-color: #edc850; color: #f9f6f2; }
.tile[data-value="1024"] { background-color: #edc53f; color: #f9f6f2; }
.tile[data-value="2048"] { background-color: #edc22e; color: #f9f6f2; }
