@media (max-width: 560px) {

  .card {
    width: 50px !important;
    height: 50px !important;
    font-size: 20px !important;
  }
  #game {
    grid-gap: 5px !important;
    grid-template-columns: repeat(4, 50px) !important;
    grid-template-rows: repeat(4, 50px) !important;
  }
}

main {
    height: auto;
    width: 90%;
    background-color: rgb(51,51,51);
    border-radius: 20px;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 50px;
}

label {
  color: white;
}


h1{
    color: white;
    text-align:center;
    padding: 20px;
}
#controls {
    margin-bottom: 20px;
  }
  #game {
    display: grid;
    grid-gap: 10px;
    justify-content: center;
  }
  .card {
    width: 80px;
    height: 80px;
    background: #8d8d8d;
    color: white;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    user-select: none;
    transition: background 0.3s;
  }
  .card.revealed {
    background: #fff;
    color: #333;
    cursor: default;
  }
  .card.correct {
    background: #4CAF50 !important;
    color: white;
  }
  .card.wrong {
    background: #f44336 !important;
    color: white;
  }
  #moves, #message {
    margin-top: 20px;
    text-align: center;
        color: white;
  }
  #message {
    font-size: 1.2em;
    color: #4CAF50;
  }
