main {
    height: 700px;
    width: 50%;
    background-color: rgb(51,51,51);
    border-radius: 20px;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 50px;
}

h1{
    color: white;
    text-align:center;
    padding: 20px;
}


.cell {
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
    cursor: pointer;
  }
  
  .cell:nth-child(3n) { border-right: none }
  .cell:nth-child(6) ~ .cell { border-bottom: none }
  
  .board {
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    margin: 4rem;
    margin: auto;
  }
  
  .white { color: white }
  
  #gameEnd {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
  
#gameEnd p {
    position: fixed;
    top: 45%; left: 50%;
    transform: translate(-45%, -45%);
    text-align: center;
    border: solid rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px;
    background-color: black;
}
  
#gameEnd p { margin-top: 100px }

#gameEnd input {
    text-align: center;
    border: solid black;
    border-radius: 20px;
    padding: 20px;
    font-size: 2em;
    margin: auto;
    margin-bottom: 10px;
    cursor: pointer;
    display: block;
    text-decoration: underline;
}