.article {
    border-radius: 6px;
    margin: 10px;
    height: auto;
    box-shadow: #b0cad6 0px 0px 10px 0px;
    max-width: 550px;
    padding:15px ;
}
#stage h2 {
    text-align: center;
}

#flex {
    display: flex;
}

.voirdoc {
    background-color: #86a6b4;
    color: #424b5b;
    border: none;
    border-radius: 5px;
    height: 50px;
    margin: 20px;
    width: 150px;
  font-size: 1.2em;
  cursor: pointer;
}

.intro {
    display: flex;
}
.barre_intro {
    height: auto;
    width: 4px;
    border: none;
    background-color: #bbcbd2;
    margin-left: 5px;
    margin-right: 5px;
}

/* -------stage------ */
.contenu {
    display: flex;
    flex-direction: column;
}
#titre_contenu {
    margin-bottom: 4px;
    text-align: center;
}
#barre_contenu {
    width: 100px;
    margin-top: 2px;
}

.contenu_stage {
    display: flex;
    flex-direction: column;
}
.contenu_image {
    width: 600px;
    border-radius: 20px;
    box-shadow: #b0cad6 0px 0px 10px 0px;
}
.contenu_centreimage {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    
}
#mention {
    color: green;
}

.imghr {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.imghrr {
        display: flex;
    flex-direction: row;
}
.texte {
    flex-direction: column;
}
button {
        height: 50px;
    width: auto;
    cursor: pointer;

    background-color: #424b5b;
    border: none;
    border-radius: 10px;
    color: #d9d9d9;
    font-size: 1em;
}
/* ---------------------- */

#grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 200px;

}

.articlegrid {
    border-radius: 6px;
    margin: 10px;
    height: auto;
    box-shadow: #b0cad6 0px 0px 10px 0px;
    max-width: 550px;
    padding:15px ;
}

.logo {
    height: 50px;
}