main {
    height: auto;
    width: 70%;
    background-color: rgb(51,51,51);
    border-radius: 20px;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;

}

h1{
    color: white;
    text-align:center;
    padding: 20px;
}


.card {
  font-size: 40px;
  padding: 30px 50px;
  background: white;
  color: black;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  margin: 20px auto;
  width: 120px;
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.buttons1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  margin-top: 10px;
}
button {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  background: #0984e3;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 20px;
}
button:disabled {
  background: #636e72;
  cursor: default;
}
#message {
  font-size: 1.2em;
  margin-top: 20px;
}
