main {
    height: 700px;
    width: 50%;
    background-color: rgb(51,51,51);
    border-radius: 20px;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 50px;
}

h1{
    color: white;
    text-align:center;
    padding: 20px;
}


.reaction-game {
  max-width: 400px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#signal {
  font-size: 24px;
  margin: 20px;
  color: #444;
}

button {
  font-size: 18px;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}

.game {
  background: white;
  padding: 30px;
  border-radius: 12px;
  max-width: 400px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#dice-display {
  font-size: 60px;
  margin: 20px 0;
}

.buttons button {
  font-size: 18px;
  padding: 10px 20px;
  margin: 10px;
}