main {
    height: 700px;
    width: 50%;
    background-color: rgb(51,51,51);
    border-radius: 20px;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 50px;
}

h1{
    color: white;
    text-align:center;
    padding: 20px;
}


.sudoku {
  display: grid;
  grid-template-columns: repeat(9, 40px);
  gap: 0;
  justify-content: center;
  margin: 20px auto;
  border: 3px solid black;
}
.cell {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 18px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.cell[readonly] {
  background: #eaeaea;
  font-weight: bold;
}
.cell:nth-child(3n+1) {
  border-left: 2px solid black;
}
.cell:nth-child(9n) {
  border-right: 2px solid black;
}
.row-start {
  border-top: 2px solid black;
}
.row-end {
  border-bottom: 2px solid black;
}
select, button {
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 16px;
}
#message {
  font-weight: bold;
  margin-top: 15px;
}