@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

@media (max-width: 879px) {

    .header {
        flex-direction: row;
    }
    .navbar  {
        flex-direction: column;
    }
    .navbar a {
        display: block ;
        margin-top: 10px ;
        font-size: 16px !important;
        margin: 7px !important;
    }
    .header a {
        width: max-content;
    }
    main {
        margin-top: 250px !important;
    }
    aside {
        margin-top: 250px !important;
    }
}

    

* {                 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-color: rgb(255, 87, 87) rgb(84, 84, 84);
}

body {
    background: url(/Assets/backgrounds/background.png);
    background-size: cover;
    background-position: center;
    font-family: 'Quicksand', sans-serif;

    display: table;
    width: 100%;
    bottom: 0;
}

.header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background:  rgb(89,89,89);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: -1px 5px 20px 2px; ;
    position: fixed;
}

.logo {
    font-size: 32px;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    position: relative;
    font-size: 22px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: rgb(179, 0, 0);
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}
