
/* :root {
    --primary--: #d9d9d9;
} */

@media (max-width: 768px) {
  #container {
    flex-direction: column;
  }
}



/* ---les rubriques--- */
#bloc {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.carré {
    width: 300px;
    background-color: #b0cad6;
    border-radius: 10px;
    /* flex: 1; */
    text-align: center;
    box-shadow: #b0cad6 0px 0px 15px 0px;
}
.carré h3 {
    height: 50px;
    color: #424b5b;
    line-height: 50px;
    text-align: center;
}
.carré button {
    height: 50px;
    margin: 0 0 20px 0;
    width: 150px;
    cursor: pointer;

    background-color: #424b5b;
    border: none;
    border-radius: 10px;
    color: #d9d9d9;
    font-size: 1.2em;
}
.img_illu {
    border-radius: 10px 10px 0 0;
}
/* ---------------------------- */


/* ---les infos--- */
.titre {
    margin: 10px 0 0 0;
    text-align: center;
}
.border {
    border-radius: 10px; 
    padding: 10px;
    box-shadow: #b0cad6 0px 0px 10px 0px;
    margin-bottom: 20px;
}
.info {
    height: auto;
    /* border: solid 1px black; */
    display: flex;
    margin-left: 50px;
}
.place {
    display: flex;
    width: 60%;
    align-items: center;
}
.place p {
    text-align: justify;
    padding: 10px;
    font-size: 1.1em;
}
.CV {
    display: flex;
    width: 40%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.CV button {
    color: #424b5b;
    height: 60px;
    width: 150px;
    border: none;
    background-color: #86a6b4;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2em;
}
/* ---------------------------- */

/* ---barre de déco--- */
.point {
    height: 230px;
    width: 10px;
    border: none;
    background-color: #bbcbd2;
    
}
/* ---------------------------- */


