.article {
    border-radius: 6px;
    margin: 10px;
    height: auto;
    box-shadow: #b0cad6 0px 0px 10px 0px;
}
#stage h2 {
    text-align: center;
}
.voirdoc {
    background-color: #86a6b4;
    color: #424b5b;
    border: none;
    border-radius: 5px;
    height: 50px;
    margin: 20px;
    width: 150px;
  font-size: 1.2em;
  cursor: pointer;
}

.intro {
    display: flex;
}
.barre_intro {
    height: auto;
    width: 4px;
    border: none;
    background-color: #bbcbd2;
    margin-right: 10px;
}

/* -------stage------ */
.block  {
    padding:15px ;
}
.contenu {
    display: flex;
    flex-direction: column;
}
#titre_contenu {
    margin-bottom: 4px;
    text-align: center;
}
#barre_contenu {
    width: 100px;
    margin-top: 2px;
}
.contenu_stage{
    display: flex;
}
.contenu_image {
    width: 600px;
    border-radius: 20px;
    box-shadow: #b0cad6 0px 0px 10px 0px;
}
.contenu_centreimage {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    
}
/* ---------------------- */