
main {
    width: 80%;
    background-color: rgb(51,51,51);
    border-radius: 20px;
    margin: auto;
    margin-top: 200px;
    height: auto;
    margin-bottom: 150px;

}

h1{
    color: white;
    text-align:center;
    padding: 20px;
    font-size: 2.5em;
}

#menu-accordeon {
    padding:0;
    margin:0;
    list-style:none;
    width: 90%;
    margin: auto;
  }
#menu-accordeon ul {
    padding:0;
    margin:0;
    list-style:none;
    text-align: center;
  }
#menu-accordeon li {
    border-radius: 6px;
    margin-bottom:2px;
    border-bottom:solid 1px #ffffff; 
    padding-left: 15px;
  }
#menu-accordeon li li {
    max-height:0;
    overflow: hidden;
    transition: all .9s;
    border-radius:0;
    background: rgb(51,51,51);
    box-shadow: none;
    border:none;
    margin:0;
  }
#menu-accordeon a {
    display:block;
    text-decoration: none;
    color: #fff;
    padding: 8px 0;
    font-size:1.7em;
    font-weight: bold;
  }
#menu-accordeon ul li a, #menu-accordeon li:hover li a {
    font-size:1.3em;
  }
#menu-accordeon li:hover {
    background: rgb(34, 34, 34);
  }
#menu-accordeon li li:hover {
    background: #999;
}
#menu-accordeon ul li:last-child {
    border-radius: 0 0 6px 6px;
    border:none;
}
#menu-accordeon li:hover li {
    max-height: 15em;
    transition: 2000ms;
}