@media (max-width: 600px) {
    .body1 {
        display: block !important;
    }
    main {
        width: 90% !important;
        margin: 0 auto !important;
    }
    aside {
        width: 90% !important;
        margin: 0 auto !important;
    }
    .button {
        padding-bottom: 20px !important;
    }
}

main {
    height: auto;
    width: 65%;
    background-color: rgb(51,51,51);
    border-radius: 20px;
    margin: auto;
    margin-top: 200px;
    margin-left: 10px;
}

aside {
    height: auto;
    width: 25%;
    background-color: rgb(51,51,51) ;
    border-radius: 20px;
    margin: auto;
    margin-top: 200px;
    margin-right: 10px;
}

.body1 {
    display: flex;
}

h1{
    color: white;
    text-align:center;
    padding: 20px;
}



#menu-accordeon {
    padding:0;
    margin:0;
    list-style:none;
    width: 90%;
    margin: auto;
    
  }
#menu-accordeon ul {
    padding:0;
    margin:0;
    list-style:none;
    text-align: center;
  }
#menu-accordeon li {
    border-radius: 6px;
    margin-bottom:2px;
    border-bottom:solid 1px #ffffff; 
    padding-left: 15px;
    font-weight: bold;
  }
#menu-accordeon li li {
    max-height:0;
    overflow: hidden;
    transition: all .9s;
    border-radius:0;
    background: rgb(51,51,51);
    box-shadow: none;
    border:none;
    margin:0;
    font-weight: normal;
  }
#menu-accordeon a {
    display:block;
    text-decoration: none;
    color: #fff;
    padding: 8px 0;
    font-size:1.2em;
  }
#menu-accordeon ul li a, #menu-accordeon li:hover li a {
    font-size:1em;
  }
#menu-accordeon li:hover {
    background: rgb(34, 34, 34);
  }
#menu-accordeon li li:hover {
    background: #999;
}
#menu-accordeon ul li:last-child {
    border-radius: 0 0 6px 6px;
    border:none;
}
#menu-accordeon li:hover li {
    max-height: 15em;
    transition: 2000ms;
}

main div p {
    color: white;
    margin: 20px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: justify;

}

.Jouer {
    border: solid rgb(0, 0, 0);
    border-radius: 20px;
    background: none;
    color: black;
    height: 60px;
    width: 110%;
    font-size: 1.5em;
    cursor: pointer;
}

.Jouer:hover {
    border: solid rgb(255, 255, 255);
    border-radius: 20px;
    background: white;
    color: black;
    transition: 200ms;
}

.button {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.categorie {
    border: solid rgb(157, 57, 57);
    margin: 20px;
    border-radius: 20px;
}

.regle h3 {
    text-decoration: underline;
    color: #ffffff;
    text-align: center;
    margin-top: 15px;
    font-size: 1.3em;
}
.categorie li {
    color: #ffffff;
    margin-left: 50px;
}


.deplacement {
    margin-bottom: 10px;
    display: flex;
    justify-content: center; /*mets au milieu a laide du display flex*/
}

.deplacement img {
    border-radius: 20px;
    border: rgb(157, 57, 57) solid 3px;
}