@media (max-width: 879px) {

    .grid {
        display: block !important;
    }
    h2 {
        padding-top: 10px !important;
    }
}


main {
    height: auto;
    width: 90%;
    background-color: rgb(51,51,51);
    border-radius: 20px;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 25px;
    padding-bottom: 30px;
    box-shadow: -1px 5px 20px 2px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2 1fr);
    gap: 20px 20px;
    place-content:center space-between;
}

h1{
    color: white;
    text-align:center;
    padding: 20px;
}

.box {
    height: auto;
    width: 90%;
    border-radius: 20px;
    justify-content: space-between;
    box-shadow: 3px 3px 20px 0px black;
    align-items: center;
    color: white;
    text-align: center;
    margin: auto;
    background: url(https://ledcontrole.my.canva.site/nom/media/26bda2033dd93d37c09330ff7534243a.png);
}


.box h2 {
    text-decoration: underline;
    margin: 15px;
}

.voir {
    height: 50px;
    width: 50%;
    background-color: rgb(89,89,89);
    color: white;
    border-radius: 20px;
    border: solid white;
    font-size: 1.5em;
    transition: 200ms;
    margin: 10px;
}

.voir:hover {
    height: 50px;
    width: 65%;
    background: white;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    border: solid rgb(255, 255, 255);
    font-size: 1.5em;
    transition: 200ms;
    cursor: pointer;
}

.voir:active {
    height: 55px;
    width: 50%;
    background-color: transparent;
    color: white;
    border-radius: 20px;
    border: solid rgb(0, 0, 0);
    font-size: 1.5em;
    transition: 200ms;
    margin: 10px;
}

.but-jeux {
    background-color: rgb(84, 84, 84);
    border-radius: 10px;
    margin: 5px;
    width: 90%;
    overflow-y: scroll;
    box-shadow: 5px 5px 5px rgb(70, 70, 70);
    scrollbar-width: none; /* Pour Firefox */
}

.but-jeux::-webkit-scrollbar {
    display: none; /* Pour Chrome, Safari, et Edge */
}


.but-jeux h3 {
    text-decoration: underline;
    margin: 15px;
    font-size: 1.3em;
}

.text {
    font-weight: normal;
    margin: 0px 5px 5px;
}

.invisible {
    display: flex;
    justify-content: center;
    height: 170px;
    width: 98%;
    margin: auto;
}
